.member .content-header {
    text-align: center;
}

.member .content-header .title {
    font-size: 36px;
    color: #222;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 36px;
    margin-bottom: 14px;
}

.member .content-header .sub-title {
    font-size: 18px;
    color: #9fa5aa;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 20px;
}

.member .content-influencer .influencer {
    margin-bottom: 16px;
    width: 100%;
    height: 250px;
    border-radius: 4px;
}

.member .content-influencer .influencer .images {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    padding: 12px;
    filter: grayscale(100%); /* Make the image black and white */
    transition: filter 0.5s ease; /* Smooth transition to color */
}

.member .content-influencer .influencer .images:hover {
    filter: grayscale(0%); /* Remove grayscale on hover (show original color) */
}

.member .content-influencer .influencer .images .information {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #222;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    width: 80%;
}

.member .content-influencer .influencer .images .information .name {
    font-size: 16px;
    font-weight: bold;
    color: #222;
    text-transform: capitalize;
    line-height: 14px;
}
